footer {
    width: 100vw;
    margin-top: 50px;
    background-color: #FAF0D7;
}

.footer-top ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #fff;
}


.footer-bottom {
    position: relative;
    display: flex;
}

.footer-bottom ul p {
    margin: 0;
}

.footer-bottom ul{
    margin: 0;
    align-self: center;
}

.footer-bottom-item:nth-child(1) {
    flex-grow: 1;
    text-align: center;
}
.footer-bottom-item:nth-child(2) {
    flex-grow: 2;
    padding: 0;
}
.footer-bottom-item:nth-child(3) {
    flex-grow: 3;
}


.footer-logo img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.footer-link a {
    transition: opacity 300ms ease-in-out;   
}
.footer-link a:hover {
    opacity: 0.5;
}
.footer-link img {
    width: 80px;
    margin: 5px 0;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 50%;
}


.bounce {
    position: absolute;
    right: 100px;
    bottom: 20px;
}

.bounce2 {
    position: absolute;
    right: 20px;
    bottom: 20px;
}



/* 2인 동작 */

.two-balls {
    position: relative;
    width: 300px;
}

.two-balls span {
    position: absolute;
    top: 20px;
    width: 200px;
    height: 150px;
    border-radius: 50%;
    animation: two-balls-pink 2s ease-in-out infinite
}

.two-balls .pink {
    left: -20px;
}

.two-balls .blue {
    animation-name: two-balls-blue;
    right: -20px;
}

@keyframes two-balls-pink {
    from {
        z-index: 1;
    }

    50% {
        transform: translateX(calc(100px + 3 * 2px));
    }
}

@keyframes two-balls-blue {
    50% {
        transform: translateX(calc(-100px - 3 * 2px));
    }
}



/* bounce */

.bounce {
    animation: bounce 2s ease infinite;
  }

@keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}



