.wrapper {
    position: relative;
}

header {
    position: relative;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100%;
    padding: 10px;
    /* 글자체 자리 */
    background-color: #FAF0D7;
}



.gnb-logo {
    display: flex;
    font-size: 30px;
    color: pink;
}

.gnb-logo img {
    width: 300px;
    height: 100px;
    object-fit: contain;
}

.gnb-search { 
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    display: block;
    width: 500px; 
    /* 우선 순위 */
    z-index: 200; 
}
  
.gnb-search-btn {
    border: none;
    background-color: #fff;
    width: 50px;
    color: #FFD9C0;
    border-radius: 5px;
}



.overlay {
    position: fixed;
    top: 20px;
    left: 100vw;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    padding: 30px;
    background-color: rgba(0, 0, 0, .5);
    transition: all 500ms ease-in-out;
    /* 우선 순위 */
    z-index: 1000;
}

.overlay.is-open {
    left: 0;
    visibility: visible;
    opacity: 1;
}

.overlay.is-open {
    visibility: visible;
    opacity: 1;
}

.login-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    width: 500px;
    padding: 50px;
    border-radius: 5px;
    background-color: pink;
}

.login-box img {
    width: 300px;
}

.open-btn {
    color: pink;
    margin-right: 80px;
    font-size: 24px;
}



.gnb-list-login {
    position: absolute;
    top: 30px;
    left: 70%;
    display: none;
}

.gnb-list {
    display: flex;
    align-items: center;
    margin-left: 80%;
}

.gnb-list li {
    padding: 20px;
}

.gnb-item i {
    margin-left: 10px;
    font-size: 24px;
    color: pink;
}
.gnb-item i:last-child {
    margin-left: 0;
} 




